<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
    <bean name="MovieA,MovieB" class="com.stackroute.domain.Movie" scope="prototype" autowire="byName">
<!--            <constructor-arg name = "actor">-->
    </bean>
    <bean id="actor" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Sharukh Khan " type="java.lang.String"></constructor-arg>
        <constructor-arg name="gender" value="Male " type="java.lang.String"></constructor-arg>
        <constructor-arg name="age" value="54 " type="int"></constructor-arg>
    </bean>
<!--            </constructor-arg>-->
</beans>